<!DOCTYPE html>
<html >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Signup</title>
</head>

<body >
    <div class="conts" >
        <nav class="mb-1 navbar navbar-expand-lg navbar-dark navc" style="padding: 1em;">
            <div class="container">
                <a class="navbar-brand" href="home"><img
                        src="https://res.cloudinary.com/ros4eva/image/upload/v1574765308/Rectangle_3_btfp6e.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="login" style="margin-right:2em; margin-top: 5px;">
                                Login
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="signup">
                                <button type="button" class="btn"
                                    style="background: #4DFFD4; padding: 4px 40px; font-weight: bolder;">Sign
                                    Up</button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>


        <div id="gride" >
            <div class="row">
                <div class="col col01">
                    <div class="loginForm">
                        <h2 class="container">Sign up to Chatscrum</h2>
                        <!-- <span id="alert"></span> -->
                        <div id="alert-success" class="alert alert-success alert-dismissable fade show" style=" margin-left: 1em">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Success!</strong> Your account was created succeefully! Please <a href="login" role="button" class="alert-success" style=" text-decoration: none; cursor: pointer;">Login</a>
                          </div>
                          <div id="alert-error" class="alert alert-danger alert-dismissable fade show">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Error!</strong> {{feedback}}
                          </div>

                        <form (ngSubmit)="createUser()" id="signUp" #userSignUpForm = "ngForm" novalidate name="userSignUpForm">

                            <div class="formContainer">
                                <div>
                                    <label for="email">Email</label>
                                    <input type="email" required placeholder="enter email..." name="email" #email="ngModel" [class.is-invalid]="email.touched && email.invalid" [(ngModel)]="dataservice.createuser_email" name="email" pattern="[A-Za-z0-9._-]+@[A-Za-z0-9]+\.[a-z]{2,}$">
                                    <div class="invalid-feedback" *ngIf="email.errors && (email.invalid || email.touched)">
                                        <span *ngIf="email.errors.required" >Email is requred</span>
                                        <span class="text-danger" *ngIf="email.errors.pattern">Please enter a valid email address
                                        </span>
                                    </div>
                                </div>
                                

                                <div>
                                    <label for="psw">Password</label>
                                    <input type="password" placeholder="enter password..." name="password" required #password="ngModel" [class.is-invalid]="password.invalid && password.touched" pattern="^(?=.*[!@#$%^&*?/-]).{7,16}$" [(ngModel)]="dataservice.createuser_password">
                                    <div class="invalid-feedback" *ngIf="password.errors && (password.invalid || password.touched)">
                                        <span *ngIf="password.errors.required" >password is requred</span>
                                        <span class="text-danger"  *ngIf="password.errors.pattern">password must be 8-15 long with special characters 
                                        </span>
                                    </div>
                                </div>
                                

                                <div>
                                    <label for="name">Full Name</label>
                                    <input type="text" placeholder="enter your full name..." name="fullname" required #fullname="ngModel" required [class.is-invalid]="fullname.touched && fullname.invalid" [(ngModel)]="dataservice.createuser_fullname">
                                    <div class="invalid-feedback">
                                        Name is required
                                    </div>
                                </div>
                                
                                <div>
                                    <label for="usertype">Account Type</label>
                                    <div class="can-toggle can-toggle--size-large">
                                        <input id="c" type="checkbox" [(ngModel)]="dataservice.createuser_usertype" name="usertype" #usertype="ngModel" (click)="showProField()">
                                        <label for="c">
                                            <div class="can-toggle__switch" data-checked="User" data-unchecked="Owner"></div>
                                        </label>
                                        
                                    </div>
                                </div>
                                
                                <div id="ownerField">
                                    <label for="projname">Project Name</label>
                                    <input type="text" placeholder="enter project name..." name="projname" required #projname="ngModel" required [class.is-invalid]="projname.touched && projname.invalid"
                                    [(ngModel)]="dataservice.createuser_projname">
                                    <div class="invalid-feedback">
                                        Project Name is required
                                    </div>
                                </div>
                                

                            </div>

                            <div class="container lgbtn">
                                <button type="submit" class="btn loginbtn">SIGN UP</button>
                                <span class="psw">Forgot <a href="#">password?</a></span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col imgse">

                </div>
            </div>
        </div>
    </div>
    <div>
        <footer class=" footw">

            <div class="footer-copyright py-3 container">
                <div class="float-left copy" style="color: rgba(0, 0, 0, 0.5);">© Chatscrum 2019</div>
                <div class="float-right copy">
                    <ul id="menuli">
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Terms of use</a></li>
                    </ul>
                </div>

            </div>


        </footer>
    </div>


</body>

</html>


