<html>
            <head></head>
            <body>
            <h2>Hello {{nickname}}, </h2>
            <p>Thank you for signing up. Chatscrum  is a simple and organised way to plan and build software.</p> 
            <br>
            <p>Project: {{project.name}}</p> <br>
            <p>Email: {{email}}</p>

            <button><a href="https://chatscrum.com/login">LOGIN HERE</a></button>
            <br><br>
            <p>Welcome and happy building!</p> <br>

            <p>Thanks,</p> <br>
            <p>Chatscrum Team</p> <br>

            <p> © Copyright 2020.</p>

            </body>
</html>