<div class="navbar-fixed">  
    <nav>
        <div class="topnav">
    <span style="float: left; padding: 10px 50px;">
        <img src="/assets/image/Converted-PNG.png" alt="nav-logo" class="logo"  style="height: 45px; width: 145px">
    </span>
  <a [ngClass]="(board == 'AllTask')? 'active':doNothing()" (click)="allTask()">All Task</a>
  <a [ngClass]="(board == 'MyTask')? 'active':doNothing()" (click)="myTask()">My Tasks</a>
  <div style="float: right; color: black; padding: 5px;">
    
        <h6><a class="dropd" style="display: inline;" (click)="navDrop()">  
            <img src="/assets/image/Vector_2.png" [style.display] = "nav_drop == true ? '' : 'none'">
            <img src="/assets/image/Vector.png" [style.display] = "nav_drop == false ? '' : 'none'">
            </a>{{dataservice.username}}</h6>
        <h6>{{dataservice.role}} - {{dataservice.project_name}}</h6>
    
    
    </div>
</div>



    <!-- <div class="container-fluid">
      <div class="nav-wrapper">
          <div class="row">
              <div class="col m3">
                <img src="/assets/image/Converted-PNG.png" alt="nav-logo" class="logo">
              </div>
              <div class="col m3" style="display: flex;">
                <h3 id="project_title" style="text-align: right">{{dataservice.project_name}}</h3>
                <div style="float: right; display: flex; margin-top: 5px" [style.display] = "show_sprint_option ? 'block' : 'none'" >
                    <select  name="change_sprint" style="height: 30px; margin: 15px; color: #1f7a7a; width: auto;" [(ngModel)]="dataservice.selected_sprint"  (change)="changeSprint()">
                        <option *ngFor = "let sprint of dataservice.sprints"  [ngValue]="sprint" [selected] = "index == last ? sprint : doNothing()" >
                         {{sprint.id}}:  {{sprint.created_on | date}} - {{sprint.ends_on | date}}
                        </option>                           
                    </select>
                </div>
             </div>              
             <div class="col m6">
                <ul class="right hide-on-med-and-down">
                    <li>
                        <button type="button" class="btn btn-link s_button"  *ngIf="dataservice.role.toLowerCase() == 'owner'" (click)="createSprint()">New Sprint</button>
                    </li>  
                    <li id="username"> {{dataservice.username}} - {{dataservice.role}} </li>
                    <li><a *ngIf="dataservice.role.toLowerCase() == 'owner', 'admin'" (click)="admin()" id="adminpanel">Admin Panel</a></li>  
                    <li><a (click)="logout()" id="logout">LOGOUT</a></li>
                </ul>
            </div>
          </div>
      </div>
    </div> -->
    <div class="topnav"  [style.display] = "nav_drop == true ? '' : 'none'" >
    
  <div style="float: right; color: black; padding: 5px;">    
    <a (click)="admin()" id="adminpanel" class="dropd" style="display: inline;"  *ngIf="dataservice.role.toLowerCase() == 'owner', 'admin'"> Admin Panel</a>
    <a (click)="logout()" id="logout">Logout</a>
    </div>
</div>
    </nav>   
</div>



<div style="margin-top: 8px" class="container-fluid">
    <div class="row">
        <div class="col s2" style="height: calc(100vh - 65px); overflow: auto; background-color: #f2f2f2" [style.display] = "board == 'AllTask' ? '' : 'none'">
            <div class="" style="padding-top: 5px">  
                <input type="textarea" placeholder="Search" name="search" class="search_input ">
                             
                <h5 style="text-align: center; padding-top: 10px">Members</h5>
                <hr>
                <ul *ngFor="let user of dataservice.users">
                    <li>
                        <table [attr.id]="'m' + user.id" (mouseover)="setSelectedUser(user.id)" (mouseleave)="setSelectedUser(-1)">
                            <tr id="author">
                                <a [routerLink] fragment='{{user.id}}' (click)="scrollIntoView('u' + user.id)"  (dblclick)="getClicked($event); UserGoalHistory(user.user.nickname, user.id);  userAdvance.openModal()" class="scrumuser_box1" [style.background-color] = user.color  style="width: 200px;">
                                    <span style="font-size: 16px; text-align: left;">{{user.user.nickname}}</span> 
                                    <a (click)="getClicked($event); basicModal.openModal()"  style="margin: 5px; float: right;">
                                        <img src="/assets/image/plus2.png" style="height: 20px; width: 20px; margin 10px; ">
                                    </a> 
                                    <a (click)="getClicked($event); addNote.openModal(); show_notes()" style="margin: 5px; float: right">
                                        <img src="/assets/image/notes.png" style="height: 20px; width: 20px;  margin 10px; ">
                                    </a>

                                </a>
                                    <!-- <div style="display:flex;">
                                     
                                        <a mz-button (click)="getClicked($event); basicModal.openModal()" class="btn-floating add-icon"><i class="material-icons" id="add">add</i></a>
                                        <a mz-button (click)="getClicked($event); addNote.openModal(); show_notes()" class="btn-floating add-icon"><i class="material-icons" id="add">notes</i></a>
                                    </div> -->
                                    
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col s6" style="height: calc(100vh - 65px); overflow: auto; background-color: #f2f2f2; border-left: 3px solid white" [style.display] = "board == 'AllTask' ? '' : 'none'">          
            <div class="main_area">
                <table>
                    <tr>
                        <td>
                            <h3>{{dataservice.message}}</h3>
                            <label>
                            <input type="checkbox" id="ourcheck" class="filled-in" [checked]="show_zero" (click)="swapState()">
                                <span >Show Users With No Assigned Tasks</span> 
                            </label>
                        </td>
                        <td style="text-align: right;">
                            <button type="button" class="btn-round" *ngIf="dataservice.role.toLowerCase() == 'owner'" (click)="createSprint()">New Sprint</button>
                            <div style="float: right; display: flex; margin-top: 5px" [style.display] = "show_sprint_option ? 'block' : 'none'" >
                    <select  name="change_sprint" style="height: 30px; margin: 15px; color: #1f7a7a; width: auto;" [(ngModel)]="dataservice.selected_sprint"  (change)="changeSprint()">
                        <option *ngFor = "let sprint of dataservice.sprints"  [ngValue]="sprint" [selected] = "index == last ? sprint : doNothing()" >
                         {{sprint.id}}:  {{sprint.created_on | date}} - {{sprint.ends_on | date}}
                        </option>                           
                    </select>
                </div>                           
                        </td>
                    </tr>
                </table>         
                <style>
                    .full-box {
                        display: table-cell;
                        vertical-align: middle;
                        text-align: center;
                        border: 0 solid black;
                        padding: 10px;
                    }
                    .top-box {
                        display: table-cell;
                        font-size: 10pt;
                        vertical-align: middle;
                        text-align: center;
                        border: 0 solid gray;
                        border-top: 0 solid black;
                    }
                    .reg-box {
                        display: table-cell;
                        font-size: 10pt;
                        vertical-align: middle;
                        text-align: center;
                        border: 0 solid gray;
                        padding: 10px;
                    }

                        select{display: block !important;}
                        input{display: block !important;}
                </style>
                <div class="board-area">
                <ng-container *ngFor="let user of dataservice.users; let user_index = index">
                    <br>
                    <div style=" display: flex; font-weight: bold; background-color: #f2f2f2;">
                                {{user.user.nickname.toUpperCase()}} ({{user.total_week_hours}} hours)   
                    </div> 
                    <div style="display:table; width:100%; word-wrap:break-word; border-collapse:collapse; background-color: #f2f2f2;">
                        
                        

                        <div style="display: table-row; border-top: 2px solid black; ">
                            <th> <div class="table_head">Task For The Week</div> </th>
                            <th><div class="table_head">Today Target</div></th>
                            <th><div class="table_head">Verify</div></th>
                            <th><div class="table_head">Done</div></th>
                        </div>
                        
                        <div *ngIf="user.scrumgoal_set.length == 0 && show_zero" style="display: table-row;" dragula="mainTable" [attr.id]="'u' + user.id">
                                <td class="full-box" id="author" colspan="6">
                                    {{user.user.nickname}} - NO TASKS ASSIGNED
                                </td>
                        </div>
                            <div style="display: table-row" *ngIf="user.scrumgoal_set.length != 0" [attr.id]="'u' + user.id" [style.background]="user.id == id_click ? 'rgba(0, 128, 128, 0.5)' : (user.id == id_hover ? 'rgba(0, 128, 128, 0.15)' : 'none')" tabindex="-1">
                                <div *ngFor="let arrItem of arrCount" class="top-box" dragula="mainTable" [attr.id]="arrItem">
                                    <div class="div_lister" *ngFor="let goal of dataservice.sprint_goals; let j = index; let k = count" [attr.id]="'g' + goal.goal_project_id"> 
                                            <div class="list_div" *ngIf ="goal.status == arrItem && user.id == goal.user && goal.name; let thisGoal" (dblclick)="goal.status == arrItem ? editGoal($event) : doNothing()" style="font-size: 0.8rem" [style.background-color] = "user.color">
                                                {{goal.goal_project_id}}) {{ (goal.name.length>40) ? (thisGoal | slice:0:40)+'...':(thisGoal) }} {{(goal.hours != -1 && (goal.status == 3 || goal.status == 2) ? ' (' + goal.hours + ')' : '' )}}
                                                <a (click)="ResizeImage(goal.file); showImage.openModal()">
                                                    <img src="https://{{dataservice.domain_name}}{{goal.file}}" style="width: 15px; height: 15px" alt="{{goal.file}}">
                                                </a> 

                                            <div class="div-add-file" style="display: inline-flex; padding-bottom: 10px;">
                                                <select name= "option{{goal.goal_project_id}}" style="height: 18px; margin: 5px; color: #1f7a7a; font-size: 10px;padding: 0; width: 85px;" [(ngModel)]="selected_history[j]" (change)= "CheckHistory(selected_history[j]); showHistory.openModal();" >
                                                    <option [ngValue]="history1" disabled selected>History  </option>
                                                    <option *ngFor = "let history of goal.scrumgoalhistory_set" [ngValue]=history>
                                                        {{history.message}}
                                                    </option>                                                                          
                                                </select> 
                                                <a (click)="goalClicked(goal.goal_project_id); upload.openModal()">
                                                    <img src="/assets/image/foto.png" style="height: 20px; width: 20px;">
                                                </a>
                                                <a (click)="goalClicked(goal.goal_project_id); initGoalChat()">
                                                    <img src="/assets/image/message.png" style="height: 20px; width: 20px;">
                                                </a> 
                                            </div>
                                                <span class="tooltiptext">{{goal.name}}</span>                                              
                                                <span class="tooltiptext2">
                                                    <button class="delete_task" (click)="deleteTask(goal.name, goal.goal_project_id)">X</button>
                                                </span>                                  
                                            <!-- </div> -->
                                        </div>                                   
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                    </ng-container>
                </div>
            </div>
            <div class="col m4">
                <mz-modal #basicModal>
                    <mz-modal-header>
                        <h4>Add A Task</h4>
                    </mz-modal-header>
                    <mz-modal-content>
                        <h6>Click outside this dialog to cancel.</h6>
                        <form (ngSubmit)="addGoal()">
                            <textarea id="goal" [(ngModel)]="dataservice.goal_name" name="goal"></textarea>
                            <br>
                            <input class="modal-close waves-effect btn btn-default" type="submit" value="Add Task">
                        </form>
                    </mz-modal-content>
                </mz-modal>
                <mz-modal #addNote>
                    <mz-modal-header>
                        <h4>Add a Notes</h4>
                    </mz-modal-header>
                    <mz-modal-content>
                        <h6>Click outside this dialog to cancel.</h6>
                        <form (ngSubmit)="add_a_note()">
                            <textarea id="goal" [(ngModel)]="note" name="goal"></textarea>
                            <select  name="note_priority" style="height: 30px; margin: 15px; color: #1f7a7a; width: auto;" [(ngModel)]="note_priority">
                                <option Value="High" selected>High Priority</option>
                                <option Value="Medium">Medium Priority</option>
                                <option Value="Low">Low Priority</option>                           
                            </select>
                            <input class="modal-close waves-effect btn btn-default" type="submit" value="Add Note">
                        </form><br>
                        

                        <br>
                        <div style="display: table; width: 100%; word-wrap: break-word; border-collapse: collapse; border: 2px solid black;">
                            <div style="display: table-row">
                                    <!--
                                    <th class="full-box">Created By</th>
                                    -->
                                    <th class="full-box">ID</th>
                                    <th class="full-box">NOTES</th>
                                    <th class="full-box">ACTION</th>
                            </div>

                            <div style="display: table-row" *ngFor="let note of dataservice.user_notes; let j = index; let k = count">
                                <td class="top-box">{{note.id}}</td>
                                <td class="top-box">
                                    <span style="font-weight: bolder;" [style.color]="note.priority == 'High' ? 'rgb(255,0,0)' : (note.priority == 'Medium' ? 'rgb(0,0,255)' : 'rgb(0,255,0)')">
                                        {{note.note}} 
                                    </span>  
                                </td>
                                <td class="top-box">
                                    <button type="button" class="btn btn-link s_button"  *ngIf="dataservice.role.toLowerCase() == 'owner'" (click)="note_to_goal(note.id, note.note, note.priority)">Add to Board</button>
                                    <!-- <span style="font-size: 20px; font-weight: bolder;">+</span> -->
                                </td>
                            </div>                                
                        </div>
                    </mz-modal-content>
                </mz-modal>
                <mz-modal #upload>
                    <mz-modal-header>
                        <h4>Add A File</h4>
                    </mz-modal-header>
                    <mz-modal-content>
                        <h6>Click outside this dialog to cancel.</h6><br>
                        <form>
                            <label for="file">Choose File</label>
                            <input  #Image accept="image/*" type="file" (change)="selectFile($event)">
                            <br>
                            <button type="button" class="modal-close waves-effect btn btn-default" (click)="imageUpload()">Upload</button>
                        </form>
                    </mz-modal-content>
                </mz-modal>
                <mz-modal #showImage>
                    <mz-modal-header>
                        <h4>Image</h4>
                    </mz-modal-header>
                    <mz-modal-content>
                        <img src="https://{{dataservice.domain_name}}{{scrum_image}}" style="width: 450px; height: 220px" alt="image">
                    </mz-modal-content>
                </mz-modal>   
                <mz-modal #userAdvance>
                    <mz-modal-header>
                        <h4>{{clicked_user}}</h4>
                    </mz-modal-header>
                    <mz-modal-content>
                        <div style="display: table; width: 100%; word-wrap: break-word; border-collapse: collapse; border: 2px solid black;">
                            <div style="display: table-row">
                                    <!--
                                    <th class="full-box">Created By</th>
                                    -->
                                    <th class="full-box">Sprint No</th>
                                    <th class="full-box">SPRINTS</th>
                                    <th class="full-box">GOALS</th>
                            </div>

                            <div style="display: table-row" *ngFor="let sprint of dataservice.sprints; let j = index; let k = count">
                                <td class="top-box">{{sprint.id}}</td>
                                <td class="top-box">  {{sprint.created_on | date}} - {{sprint.ends_on | date}}</td>
                                <td class="top-box">
                                    <span *ngFor="let user_goal of dataservice.user_goal_history">
                                        <div *ngIf ="user_goal.time_created > sprint.created_on && user_goal.time_created < sprint.ends_on" >
                                            {{user_goal.name}} --
                                            <span style="font-weight: bolder;" [innerText]="user_goal.status == 3 ? 'completed' : 'Not Completed'" [style.color]="user_goal.status == 3 ? 'green' : 'red'">
                                                
                                            </span>
                                        </div>
                                    </span>
                                </td>
                            </div>                                
                        </div>
                    </mz-modal-content>
                </mz-modal>             
                <mz-modal #showHistory >
                        <mz-modal-header>
                            <h4>Task History Details</h4>
                        </mz-modal-header>
                        <mz-modal-content>
                            <div *ngIf="task_history">
                                <table>
                                    <tr  style="margin: 0; padding: 0">
                                        <td style="font-weight: Bold; text-align: left">
                                           Name:
                                        </td>
                                        <td>
                                            {{task_history.name}}
                                        </td>
                                        <td rowspan="7">
                                            <img src="https://{{dataservice.domain_name}}{{task_history.file}}" style="width: 250px; height: 220px" alt="https://{{dataservice.domain_name}}{{task_history.file}}">
                                        </td>
                                    </tr>
                                    <tr style="margin: 0; padding: 0">
                                        <td style="font-weight: Bold; text-align: left"> Status: </td>
                                        <td>{{task_history.status}}</td>
                                    </tr>
                                    <tr style="margin: 0; padding: 0">
                                        <td style="font-weight: Bold; text-align: left">Hours: </td>
                                        <td>{{task_history.hours}}</td>
                                    </tr>
                                    <tr style="margin: 0; padding: 0">
                                        <td style="font-weight: Bold; text-align: left"> Date: </td>
                                        <td>{{task_history.time_created  | date}}</td>
                                    </tr>
                                    <tr style="margin: 0; padding: 0">
                                        <td style="font-weight: Bold; text-align: left"> Changed By: </td>
                                        <td>{{task_history.done_by}}</td>
                                    </tr>
                                    <tr style="margin: 0; padding: 0">
                                        <td style="font-weight: Bold; text-align: left"> Result: </td>
                                        <td>{{task_history.message}}</td>
                                    </tr>
                                </table>
                             </div>
                        </mz-modal-content>
                </mz-modal>

            </div>
        </div>



        
        <div class="col s4" style="position: fixed; right: 0px; top: 0 px;">
            <a style="float: right; margin-right: 1px; background-color: #f2f2f2; border-radius: 0px 0px 0px 10px;">{{chat_div_title}}</a>
            <br>
            <div class="card">
                <h5 style="text-align: center; padding-top: 10px"> {{chat_div_title}} </h5>
                
                <hr>
                <div style="text-align: right"><a style="text-align: right" (click)="initMainChat()" *ngIf=" show_project_chat"> switch to Project Chat>>> </a></div>
                
                <div style="overflow: auto; height: calc(100vh - 345px); padding-left: 10px; padding-right: 10px" id="chat_div_space">
                    <div *ngFor="let message of messages" style="font-size: 0.85rem"  class="chat_div"  [style.margin-left] = "message.user == dataservice.realname ? '80px' : '0'" >
                    <li  style="list-style-type: none; padding-top: 1px; padding-bottom: 1px;">
                        <tr *ngIf="message.user == dataservice.realname" style="background-color: #262626; color: white; ">                            
                            <td style="width: 85%">
                                
                                    <span [innerText]="message.user" style="font-weight: bold;">                          
                                    </span>
                                    <span>
                                        {{message.date_Time | date:'shortTime'}}  
                                        {{message.date_Time | date}}
                                    </span><br>  
                                    <span [innerText]="message.message" style="  text-indent:15px" >
                                    </span>
                                    
                                
                            </td>
                            <td style="padding-right: 10px; margin:0; width: 15%">
                                <div style=" background-color: white; border-radius: 20px">
                                    <img src="/assets/image/ellipse.png" style="height: 50px; width: 50px; margin 10px,">
                                </div>
                                
                            </td>
                        </tr>
                        <tr *ngIf="message.user != dataservice.realname" style="background-color: white; text-indent: -10px;">
                            <td style="padding: 0; margin:0; width: 15%">
                                <img src="/assets/image/ellipse.png" style="height: 50px; width: 50px; margin:10px">
                            </td>
                            <td style="width: 85%">
                                <li  style="list-style-type: none; padding-top: 1px; padding-bottom: 1px">
                                    <span [innerText]="message.user" style="font-weight: bold;"></span>
                                    <span>
                                        {{message.date_Time | date:'shortTime'}}  
                                        {{message.date_Time | date}}
                                    </span><br>  
                                    <div [innerText]="message.message" style="  text-indent:15px" ></div>
                                </li>
                            </td>
                        </tr>
                    </li>
                        
                    </div>
                </div>
                <hr>
                <div class="row" style="padding-left: 10px; padding-right: 10px">
                    <div style="height: 190px; overflow: auto">
                    <div class="input-field col s12">
                            <input type="text" id="chat_text"  [(ngModel)]="chat_text" (keyup.enter)="sendMessage('main_chat')" >
                            
                            <label for="chat_text">Send a message</label>
                        </div>
                     <span>
                            <li *ngIf="dataservice.role.toLowerCase() != 'owner'">
                                <div *ngIf="dataservice.project_slack == true && dataservice.user_slack == 'false'" style="font-weight: bold; color: #1f7a7a ">
                                    Connect Chatscrum app to Slack?<br/>
                                    <a href="https://slack.com/oauth/authorize?client_id={{this.dataservice.slack_app_id}}&state=main_chat_{{dataservice.project_name}}>>>{{dataservice.username}}&scope=identity.basic identity.team identity.avatar identity.email"><img alt="Sign in with Slack" height="40" width="139" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" /></a></div>
                            </li>
                        </span>
                        <span *ngIf="dataservice.role.toLowerCase() == 'owner'">                                              
                            <li *ngIf="dataservice.project_slack == false" style="font-weight: bold; color: #1f7a7a ">
                                Install Chatscrum App to Slack? <br/>
                                <a href="https://slack.com/oauth/authorize?client_id={{this.dataservice.slack_app_id}}&state=main_chat_{{dataservice.project_name}}>>>{{dataservice.username}}&scope=incoming-webhook,channels:read,channels:history,groups:history,mpim:history,emoji:read,files:read,groups:read,im:read,im:history,reactions:read,stars:read,users:read,team:read,chat:write:user,chat:write:bot,channels:write,bot"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a> 
                            </li>                                                                       
                    </span>
                </div>
                </div>
                
    </div>
</div>









        <div class="col s8" style="height: calc(100vh - 65px); overflow: auto; background-color: #f2f2f2; border-left: 3px solid white" [style.display] = "board == 'MyTask' ? '' : 'none'">          
            <div class="main_area">
                 
              
                <div class="board-area">
                <ng-container *ngFor="let user of dataservice.users; let user_index = index">
                    <br>
                <div  *ngIf="user.user.nickname.toUpperCase() == this.dataservice.realname.toUpperCase()">
                    <div style=" display: flex; font-weight: bold; background-color: #f2f2f2;">
                                {{user.user.nickname.toUpperCase()}} ({{user.total_week_hours}} hours)   
                    </div> 
                    <div style="display:table; width:100%; word-wrap:break-word; border-collapse:collapse; background-color: #f2f2f2;">
                        
                        

                        <div style="display: table-row; border-top: 2px solid black; ">
                            <th> <div class="table_head">Task For The Week</div> </th>
                            <th><div class="table_head">Today Target</div></th>
                            <th><div class="table_head">Verify</div></th>
                            <th><div class="table_head">Done</div></th>
                        </div>
                            <div style="display: table-row" *ngIf="user.scrumgoal_set.length != 0" [attr.id]="'u' + user.id" [style.background]="user.id == id_click ? 'rgba(0, 128, 128, 0.5)' : (user.id == id_hover ? 'rgba(0, 128, 128, 0.15)' : 'none')" tabindex="-1">
                                <div *ngFor="let arrItem of arrCount" class="top-box" dragula="mainTable" [attr.id]="arrItem">
                                    <div class="div_lister" *ngFor="let goal of dataservice.sprint_goals; let j = index; let k = count" [attr.id]="'g' + goal.goal_project_id"> 
                                            <div class="list_div" *ngIf ="goal.status == arrItem && user.id == goal.user && goal.name; let thisGoal" (dblclick)="goal.status == arrItem ? editGoal($event) : doNothing()" style="font-size: 0.8rem">
                                                {{goal.goal_project_id}}) {{ (goal.name.length>40) ? (thisGoal | slice:0:40)+'...':(thisGoal) }} {{(goal.hours != -1 && (goal.status == 3 || goal.status == 2) ? ' (' + goal.hours + ')' : '' )}}
                                                <a (click)="ResizeImage(goal.file); showImage.openModal()">
                                                    <img src="https://{{dataservice.domain_name}}{{goal.file}}" style="width: 15px; height: 15px" alt="{{goal.file}}">
                                                </a> 

                                            <div class="div-add-file" style="display: inline-flex;  padding-bottom: 10px;">
                                                <select name= "option{{goal.goal_project_id}}" style="height: 18px; margin: 5px; color: #1f7a7a; font-size: 10px;padding: 0; width: 85px;" [(ngModel)]="selected_history[j]" (change)= "CheckHistory(selected_history[j]); showHistory.openModal();" >
                                                    <option [ngValue]="history1" disabled selected>History  </option>
                                                    <option *ngFor = "let history of goal.scrumgoalhistory_set" [ngValue]=history>
                                                        {{history.message}}
                                                    </option>                                                                          
                                                </select> 
                                                <a (click)="goalClicked(goal.goal_project_id); upload.openModal()" class="add-file">
                                                    <img src="/assets/image/foto.png" style="height: 20px; width: 20px; margin 10px">
                                                </a>
                                                <a (click)="goalClicked(goal.goal_project_id); initGoalChat()">
                                                    <img src="/assets/image/message.png" style="height: 20px; width: 20px; margin 5px">
                                                </a> 
                                            </div>
                                                <span class="tooltiptext">{{goal.name}}</span>                                              
                                                <span class="tooltiptext2">
                                                    <button class="delete_task" (click)="deleteTask(goal.name, goal.goal_project_id)">X</button>
                                                </span>                                  
                                            <!-- </div> -->
                                        </div>                                   
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                    </div>
                    </ng-container>
                </div>
            </div>
            
        </div>