::-webkit-scrollbar {
    width: 2px;
    background:#808080;;
    margin-right: 1px;
}

::-webkit-scrollbar:hover {
  width: 10px;
}


::-webkit-scrollbar-thumb {
    background:#808080
}

::-webkit-scrollbar-track {
  background: #E5E5E5;
}

@font-face {
  font-family: SF;
  src: url(assets/font/SF.ttf) format("opentype");
}

@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icomoon.eot?y1yxh2');
  src:  url('assets/fonts/icomoon.eot?y1yxh2#iefix') format('embedded-opentype'),
    url('assets/fonts/icomoon.ttf?y1yxh2') format('truetype'),
    url('assets/fonts/icomoon.woff?y1yxh2') format('woff'),
    url('assets/fonts/icomoon.svg?y1yxh2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Group-1:before {
  content: "\e903";
}
.icon-cancel:before {
  content: "\e902";
}
.icon-notification .path1:before {
  content: "\e904";
  color: rgb(201, 0, 0);
}
.icon-notification .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-move:before {
  content: "\e901";
}
.icon-pencil:before {
  content: "\e900";
}
.icon-camera:before {
  content: "\e90f";
}
