{% extends 'registration/layout.html' %}

{% block title %} Password Reset Form{% endblock %}

{% block content %}

	<form action="" method="post">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <p>{{ form.email }}</p> 
    <input type="submit" class="btn btn-default btn-lg" value="Reset password" />
	</form>
	{{settings.FRONTEND}}KK
	<a href="settings.FRONTEND" style="text-decoration: none; font-size: 20px">log in again?</a>
	<a href="{% url 'login'%}" style="text-decoration: none; font-size: 20px">log in again?</a>

{% endblock %}