{% extends 'registration/layout.html' %}

{% block title %} Password Reset Form{% endblock %}

{% block head %} Password Reset Form {% endblock %}

{% block content %}

	<form action="" method="post">{% csrf_token %}
	    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
	    <br>
	    <label style="font-weight: bold;"> Enter Your Email:</label>
	        <p>{{ form.email }}</p> 
	    <div style="text-align: center;">
	    	<input type="submit" style="display: block; margin: 0 auto;" class="btn btn-default btn-lg" value="Reset password" />
	    </div>
	</form>

{% endblock %}